.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid black;
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 5px;
}

.task {
  font-weight: bold;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.btn-active {
  font-size: 16px;
  background-color: aquamarine;
  border: none;
  border-radius: 3px;
  margin: 2px;
}
.btn {
  font-size: 16px;
  background-color: #d4dade;
  border: none;
  border-radius: 3px;
  margin: 2px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}